<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.blogspot.yourfavoritekaisar.bantudonasi">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:hardwareAccelerated="false"
        android:icon="@drawable/basi"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/basi"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DonasiActivity"
            android:label="@string/title_activity_donasi"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".paluActivity" />
        <activity android:name=".DetailActivity"></activity>
    </application>

</manifest>